@model IEnumerable<Mangos.Mvc.Models.ViewModels.LancamentoCartaoListaModel>

<div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartaoCredito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesReferencia)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoLancamento)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.GeradoLancamento)
            </th>
            <th></th>
        </tr>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="8" class="text-center">Nenhum resultado encontrado</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pessoa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartaoCredito)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MesReferencia)
                    </td>
                    <td class="text-right" style="@(item.Valor < 0 ? "color: #00AA00;" : "")">
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoLancamento)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.GeradoLancamento)
                    </td>
                    <td class="text-right">
                        @if (item.TemAgrupador)
                        {
                            <a href="@Url.Action("Agrupados", "LancamentoCartao")?agrupador=@item.Agrupador" glyph-icon="th-list"></a>
                        }

                        <open-modal-icon controller="LancamentoCartao" action="Editar" value="@item.Id.ToString()" glyph-icon="edit"></open-modal-icon>
                        <excluir-icon controller="LancamentoCartao" value="@item.Id.ToString()"></excluir-icon>
                    </td>
                </tr>
            }

            <tr class="table-footer">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">@Model.Sum(o => o.ValorCalculado).ToString("c2")</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }

    </table>
</div>
