@model PaginatedResult<Mangos.Dominio.Entities.Pessoa>

<div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Itens.First().Nome)
            </th>
            <th>Telefones</th>
            <th>@Html.DisplayNameFor(model => model.Itens.First().Tipo)</th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Itens.First().Ativo)
            </th>
            <th></th>
        </tr>

        @if (Model.Itens.Count() == 0)
        {
            <tr>
                <td colspan="5" class="text-center">Nenhum resultado encontrado</td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Itens)
            {
                <tr class="@(!item.Ativo ? "table-item-inativo" : "")">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @{
                            var telefones = new List<string>();
                            if (!string.IsNullOrEmpty(item.Telefone1)) { telefones.Add(item.Telefone1); }
                            if (!string.IsNullOrEmpty(item.Telefone2)) { telefones.Add(item.Telefone2); }
                            if (!string.IsNullOrEmpty(item.Telefone3)) { telefones.Add(item.Telefone3); }
                            <text>@string.Join(", ", telefones)</text>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    <td class="text-right">
                        <a href="@Url.Action("Index", "PessoaCoordenada")?Pessoa=@item.Id" glyph-icon="map-marker-alt"></a>
                        <open-modal-icon controller="Pessoa" action="ConsultaLancamentos" value="@item.Id.ToString()" glyph-icon="th-list"></open-modal-icon>
                        <open-modal-icon controller="Pessoa" action="Dados" value="@item.Id.ToString()" glyph-icon="edit"></open-modal-icon>
                        <excluir-icon controller="Pessoa" value="@item.Id.ToString()"></excluir-icon>
                    </td>
                </tr>
            }
        }

        <tr class="table-footer-pagination">
            <td colspan="6">@Model.MensagemRodape</td>
        </tr>
    </table>

    <pagination pagina-atual="Model.Pagina" total-paginas="Model.TotalPaginas"></pagination>
</div>
